/*ESTILO DE BOTON DE MENU*/
navbar-default {
    .navbar-toggle {
        border-color: #8BC34A;
        &:focus {
            background-color: #8BC34A !important;
        }
        &:hover {
            background-color: #8BC34A !important;
        }
    }
} 
