/*DEFAULT*/
* {
    margin: 0;
    padding: 0;
}

embed,
img,
object,
video {
    max-width: 100%;
}

body {
    font-family: 'Amaranth', sans-serif;
}
/*OCULTAR DESPLIEGUE EN HGROUPS*/
.pw-oculto {
    display: none;
}
/*ESQUEMAS DE COLORES*/
.pw-menu {
    background: #8BC34A;
    background-size: cover;
}

.pw-footer {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-size: 1em;
    background-color: #1C1C1C;
    background-size: cover;
}
/*COLORES FONDO*/
/*COLORES*/
.pw-color-1 {
    color: #FFFFFF !important;
}
/*ESTILO DE MENU*/
.pw-brand {
    color: #FFFFFF !important;
    font-size: 2em;
    font-weight: bolder;
}

nav {
    ul {
        li {
            a {
                color: #FFFFFF !important;
                font-weight: normal;
                font-size: 1.2em;

                &:hover {
                    background-color: rgba(78, 118, 33, 0.5) !important;
                    color: #FFFFFF !important;
                    font-weight: bold !important;
                }

                &:focus {
                    background-color: rgba(78, 118, 33, 0.5) !important;
                    color: #FFFFFF !important;
                    font-weight: bold !important;
                }
            }
        }
    }
}
