body {
    background: #fff;
}

.pw-login {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #763827;
    border: 2px;
    border-radius: 10px;
}

.pw-login button{
    background: #4F7621;
    border-color: #8BC34A;
    color: #FFFFFF;
}

.pw-login button:hover{
    background: #8BC34A;
    border-color: #4F7321;
    color: #FFFFFF;
}

.pw-login label{
    color: #FFFFFF;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #909090;
    border: 2px;
    border-radius: 10px;
}

.pw-header-back {
    /*text-align: center;*/
    background: #8BC34A;
    background-size: cover;
    /*position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;*/
    /*margin: 0px;
    padding: 0px;*/
}

.img-header-back {
    padding-top: 10px;
    padding-bottom: 30px;
}
